*.log
.DS_Store
.cache
.direnv
.docusaurus
.env.secrets
.env.*.secrets
.env.local
.idea
.node_repl_history
.npm
build
coverage
dist
dist_tmp
files-cache
invoice.txt
logs
node_modules
npm-debug.log*
pids
pkg
pocketbase
stats.json
target
yarn-debug.log*
yarn-error.log*
